<!doctype html>
<html>
<head>
     {% load staticfiles %}
	<title>urbanat.by</title>
      <meta charset="utf-8">
	<link rel="icon" href="media/favicon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ frontpage.description }}">
<link href="media/css/bootstrap.min.css" rel="stylesheet">
	<link href="media/css/jquery-ui.min.css" rel="stylesheet">
	<link href="media/css/jquery-ui.theme.css" rel="stylesheet">
<link href="media/css/styles.css" rel="stylesheet">
    <script type="text/javascript" src="media/js/jquery.js"></script>
    <script type="text/javascript" src="media/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="media/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container header">
    <div class="row">
    	<div class="logo col-md-3">
    	<img src="media/images/logo.png">
    	</div>
    	<div class="top-contacts  col-md-4">
    		<img src="media/images/phone.png">
	    		<div class="header-contacts">
	    			<div class="contacts-block">{{ frontpage.topphone1 }}</div>
	    			<div class="contacts-block">{{ frontpage.topphone2 }}</div>
	    		</div>
	    </div>
	    <div class="menu">
	    	    <div id="catalog">КАТАЛОГ</div>
	    	    <div id="news">НОВОСТИ</div>
	    	    <div id="recipes">РЕЦЕПТЫ</div>
	    	</div>
    </div>
</div>
  <div class="header-image-block">
          <div>&nbsp;
          <img  src="media/images/header.png"  class="header-image"/>
          </div>
 </div>
   <div class="container top-section">
   		<div class="row">
   			   <div class='col-md-12 title'>{{ frontpage.topTextTitle }}</div>
   			<div class='col-md-12 text' >{{ frontpage.topText }}
   			  </div>
   		</div>
   </div>
<div class="catalog-section container">
   		<div class="row">
   			<div class='col-md-12 title' id="catalogblock">Каталог</div>
   		</div>
   		<div class="row catalog-container">
			{% for product in catalog %}
			<div class='col-md-3 text'>
					<img src="media/{{product.catalogImage}}"  class="catalog-image" title="{{ product.title }}">
		   			<p class="text-title">
                           {{ product.title }}
		   			 </p>
					<p class="catalog-text" idproduct="{{ product.id }}">{{product.catalogText|truncatechars_html:200}}
		   			  <span class="get-entity" entity-type="product" entity-id="{{ product.id }}">читать далее....</span>
		   			 </p>
					</div>
			{% endfor %}
		   </div>
		   <div class="row" id="beforemoreproducts">
   			<div class='col-md-12 title show-more' id="productsmore">ПОКАЗАТЬ ЕЩЕ</div>
   		</div>
</div>
<div class="news-section container">
   		<div class="row news-container">
   			<div class='col-md-12 title' id="newsblock">Новости</div>
   		</div>
   		<div class="row">
			{% for record in news %}
					   		<div class='col-md-5 text'>
		   		<img src="media/{{record.newsImage}}"  class="news-image" title="{{ record.title }}">
		   		<p class="text-title">
                           {{ record.title }}
		   			 </p>

		   		<p class="news-text" idnews="{{ record.id }}">{{record.newsText|truncatechars_html:285}}
		   			  <span class="get-entity" entity-type="news" entity-id="{{ record.id }}">читать далее....</span>

		   			 </p>
		   		</div>
			{% endfor %}
		   </div>
		    <div class="row" id="beforemorenews">
   			<div class='col-md-12 title show-more' id="newsmore">ПОКАЗАТЬ ЕЩЕ</div>
   		</div>
</div>
<div class="recipes-section container">
   		<div class="row">
   			<div class='col-md-12 title' id="recipesblock">Рецепты</div>
   		</div>
   		<div class="row">
			{% for recipe in recipes %}
			   	   		<div class='col-md-3 text'>
		   		<img src="media/{{recipe.recipesImage }}"  class="recipes-image" title="{{recipe.title }}">
		   		<p class="text-title">
                           {{recipe.title }}
		   			 </p>
		   		<p class="recipes-text" idrecipes="{{recipe.id}}">{{recipe.recipesText|truncatechars_html:200}}
		   			  <span class="get-entity" entity-type="recipe" entity-id="{{recipe.id}}">читать далее....</span>

		   			 </p>
		   		</div>
			{% endfor %}
		   </div>
		   <div class="row" id="beforemorerecipes">
   			<div class='col-md-12 title show-more' id="recipesmore">ПОКАЗАТЬ ЕЩЕ</div>
   		</div>

</div>
<div class="images-section container">
   		<div class="row">
   			<div class='col-md-12 title'>{{ frontpage.bottomBlockText }}</div>
   		</div>
   		<div class="row">
		   		<div class='col-md-3 text'>
		   		<img src="media/{{ frontpage.bottomImage1 }}"  class="images-image">
		   		<p class="text-title">{{ frontpage.bottomImage1Text }}
	   			 </p>
		   		</div>
		   		<div class='col-md-3 text' >
		   		<img src="media/{{ frontpage.bottomImage2 }}"  class="images-image">
		   		<p class="text-title">{{ frontpage.bottomImage2Text }}

		   		</p>
		   		</div>
		   		<div class='col-md-3 text'>
		   		<img src="media/{{ frontpage.bottomImage3 }}"  class="images-image">
		   		<p class="text-title">{{ frontpage.bottomImage3Text }}

     			</p>
		   		</div>
		   		<div class='col-md-3 text'>
		   		<img src="media/{{ frontpage.bottomImage4 }}"  class="images-image">
		   		<p class="text-title">{{ frontpage.bottomImage4Text }}

	   			</p>
		   		</div>
		   </div>

</div>
<div class="footer ">

   		<div class="row">
		   		<div class='col-md-4'>
		   		</div>
		   		<div class='col-md-4'>
		   		<div class="row">
		   			<div class='col-md-12 footer-news'>
		   			Подписывайтесь и следите за нашими новостями
		   			</div>
		   		</div>
		   		<div class="row">
		   			<div class='col-md-12'>
		   			<a href="#"><img src="media/images/icons/facebook.png"></a>
		   			<a href="#"><img src="media/images/icons/instagram.png"></a>
		   			<a href="#"><img src="media/images/icons/vk.png"></a>
		   			</div>
		   		</div>
		   		<div class="row">
			   			<div class='col-md-12 big ip'>
			   			ИП "УРБАНАТ"
			   			</div>
		   		</div>

		   		<div class="row last-row">
			   			<div class='col-md-12 big'>
			   			www.urbanat.by
			   			</div>
		   		</div>
		   		<div class='col-md-4'>
		   		</div>

		   </div>
		   <div class='col-md-3'>
		   <div class="row footer-right">
		   			<div class='col-md-12 big'>
		   			<img src="media/images/icons/skype.png"><span> URBANAT</span>
		   			</div>
		   		</div>
		   		<div class="row footer-right">
		   			<div class='col-md-12 big'>
		   			<img src="media/images/icons/whatsup.png"><span> {{ frontpage.topphone1 }}</span>
		   			</div>
		   		</div>
		   		<div class="row footer-right">
		   			<div class='col-md-12  big'>
		   			<img src="media/images/icons/telegram.png"><span> {{ frontpage.topphone1 }}</span>
		   			</div>
		   		</div>
		   </div>
</div>
</div>
{% csrf_token %}
<script type="text/javascript">
$(function(){

$("#catalog").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#catalogblock").offset().top
    }, 2000);
});
$("#news").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#newsblock").offset().top
    }, 2000);
});
$("#recipes").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#recipesblock").offset().top
    }, 2000);
});


$("#newsmore").bind("click", function(){
min_news_id = 0;
var first_news_steps = true;
 $('.news-section .news-text').each(function() {
  var value = parseInt($(this).attr("idnews"));
  if(first_news_steps) {
  min_news_id = value;
  first_news_steps  = false;
  }
  else {
  min_news_id = (value < min_news_id) ? value : min_news_id;
  }
});
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
$.post( "getmorenews", { news_id: min_news_id , csrfmiddlewaretoken : csrftoken})
  .done(function( data ) {
   if(data == '<div class="row"></div>') {$('#newsmore').text("больше новостей нет :)");}
   else {
   $( data ).insertBefore( "#beforemorenews" );
   }
  });
});
$("#productsmore").bind("click", function(){
max_product_id = 0;
$('.catalog-section .catalog-text').each(function() {
var value = parseInt($(this).attr("idproduct"));
max_product_id = (value > max_product_id) ? value : max_product_id;
});
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
$.post( "getmoreproducts", { product_id: max_product_id , csrfmiddlewaretoken : csrftoken})
  .done(function( data ) {
   if(data == '<div class="row"></div>') {$('#productsmore').text("больше товаров нет :)");}
   else {
    $( data ).insertBefore( "#beforemoreproducts" );
   }
  });
});

$("#recipesmore").bind("click", function(){
max_recipe_id = 0;
$('.recipes-section .recipes-text').each(function() {
var value = parseInt($(this).attr("idrecipes"));
max_recipe_id = (value > max_recipe_id) ? value : max_recipe_id;
});
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
$.post( "getmorerecipes", { recipe_id: max_recipe_id , csrfmiddlewaretoken : csrftoken})
  .done(function( data ) {
   if(data == '<div class="row"></div>') {$('#recipesmore').text("больше рецептов нет :)");}
   else {
    $( data ).insertBefore( "#beforemorerecipes" );
   }
  });


});


 $('body').on('click', '.get-entity', function() {
 var entity_type = $(this).attr("entity-type");
 var entity_id = $(this).attr("entity-id");
 var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
 $.post( "getentity", { entity_type: entity_type , entity_id : entity_id , csrfmiddlewaretoken : csrftoken})
  .done(function( data ) {
  var width = $( window ).width();
  if(width > 1200) {
  width = 1200;
  }
  <!--var title = $(data).find("h1").text();-->
  <!--$("#dialog").attr("title",title);-->
  $("#dialog").html(data);
   $( "#dialog" ).dialog({
   		width: width,
        <!--height: 500,-->
        modal: true,
        closeText: "закрыть"
        });
  });





 });


});
</script>
</body>
<div id="dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
</html>