<div class="row">{% for product in catalog %}
			<div class='col-md-3 text'>
					<img src="media/{{product.catalogImage}}"  class="catalog-image">
		   			<p class="text-title">
                           {{ product.title }}
		   			 </p>
					<p class="catalog-text" idproduct="{{ product.id }}">{{product.catalogText|truncatechars_html:200}}
		   			  <span class="get-entity" entity-type="product" entity-id="{{ product.id }}">читать далее....</span>
		   			 </p>
					</div>
			{% endfor %}</div>